/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, *:after, *:before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
/* NAVBAR */

.top-nav{
    height: 48px;
    position: relative;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: 1;
    
}
.logo a{
    display: block;
    width: 106px;
    height: 48px;
}
.logo div{
    background: 
        linear-gradient( to bottom right,magenta,yellow);
    width: 106px;
    height: 48px;
}
.logo svg{
    width: 60px;
    margin: 18.75% 0px 0px 23.75%;
}
.nav-tnw{
    background: #131313;
    
}
.nav-tnw a{
    color: hsla(0,0%,100%,.6);
}
.nav-tnw a:hover{
    color:#fff;
}

.nav-sections a{
    color: #aaa;
}

.nav-sections a:hover{
    color:#000;
}
.nav-tnw, .nav-sections{
    /* background-color: aquamarine; */
    visibility: hidden;
}

.nav-icons{
    position: absolute;
    top: 0;
    right: 0;
    
    height: 48px;
    
    z-index: 0;
}
.nav-icons li:first-child{
    float: right;
    width: 45px;
    height: 48px;
}
.nav-icons li:first-child div{
    width: 16px;
    height: 19px;
    margin: 15px 0px 0px 6px;
}

.nav-icons li:last-child{
    float: right;
    /* background-color: yellow; */
    width: 45px;
    height: 48px;

    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}
.nav-icons li:last-child div{
    background: url(../img/icons-sprite.svg) -832px -831px no-repeat;
    width: 16px;
    height: 19px;
    margin: 16px 0px 0px 16px;
}
.nav-icons span{
    width: 22px;
    height: 2px;
    margin: 6px 0px 0px 5px;
    background-color: red;
    display: block;
}
.banner-yellow{
    background-color: #ffdd33;
    height: 30px;
    text-align: center;
}
.banner-yellow p{
    padding: 8px 0 0 0;
}

/* HEADLINES */

.headlines{
    padding: 4px;
}

.headline{
    padding: 4px;
    
}

.headline a>div{     
    height: 179.5px;
    -webkit-transition: background-color .4s ease;
   background: rgba(0,0,0,.25) url(../img/image-gradient.png) no-repeat;
   background-size: 100% 100%;
   display: block;
   z-index: 2;
}
.headline a{
    display: block;
    height: 179.5px;

}
.headlines div:first-child a{
    background:
        url(../img/cryptocurrency-zuckerberg-bitcoin-globalcoin-facebook-asset-token-surveillance-796x448.jpg) 0px 0px no-repeat;
    
}
.headlines div:nth-child(2) a{
    background:
        url(../img/robot1200-796x417.png) 0px 0px no-repeat;
}
.headlines div:nth-child(3) a{
    background:
        url(../img/russia-cryptocurrency-windows-hackers-796x431.jpg) 0px 0px no-repeat;
}
/* HEADLINES */



@media only screen and (min-width: 768px){

    .logo{
        height: 80px;
    }
    .nav-tnw, .nav-sections{
        visibility: visible;
    }
    .nav-tnw{
        width: 100%;
        height: 32px;
        
    }
    .nav-tnw li, .nav-sections li{
        float: left;
        height: 100%;
        /* padding: 5px 0 0 0; */
    }
    .nav-icons{
        height: 48px;
        top: 32px;
    }

    .nav-icons li:first-child{
        display: none;
    }
    .nav-icons li:last-child{
        border-right: none;
    }

    .top-nav{
        height:80px;
    }

    .logo a, .logo a div{
        height: 100%;
    }

    .logo svg{
        margin-top: 32px;
    }

    .nav-tnw, .nav-sections{
        position: absolute;
        left: 106px;
    }
    .nav-tnw{
        top: 0;
        
    }
    .nav-sections{
        top: 32px;
        height: 48px;
        
    }
    .nav-sections li{
        padding: 20px 0 0 20px;
    }
    .nav-tnw li{
       
        padding: 8px 0 0 20px;
    }
    .banner-yellow{
        text-align: left;
    }
    .banner-yellow p{
        padding: 8px 0 0 126px;
    }

}

@media only screen and (min-width: 1028px){
    .logo{
        display: none;
    }
    .nav-tnw, .nav-sections{
        left: 0;
    }
    .banner-yellow p{
        padding: 8px 0 0 20px;
    }
}